.printable {
    display: none;
    max-width: fit-content;

    .title {
        padding-bottom: 20px;
        text-align: center;
    }
}

@media print {
    @page {
        size: 8.5in 11in;
        margin: 10%;
    }
    .printable {
        display: block;
    }
}
